* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #ffff;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

header {
  text-align: center;
  padding: 20px 35px;
}

h1 {
  font-family: "Permanent Marker";
}
